* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 32px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-top: 0;
    margin-bottom: 35px;
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
}

form > * { 
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    text-align: left;
}

input, textarea, button, select {
    width: 100%;
    padding: 14px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    height: 48px;
}

input::placeholder,
textarea::placeholder {
    color: #aaa;
}

textarea {
    resize: vertical;
    min-height: 120px;
    font-size: 16px;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

#action {
    padding: 14px 40px 14px 14px;
    margin-top: 35px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
    line-height: normal;
    height: auto;
    min-height: 48px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    padding: 10px 40px 10px 14px;
    font-size: 16px;
    border-radius: 12px;
    border: 1px solid #ccc;
    width: 100%;
    background-color: white;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: auto;
    min-height: 48px;
    box-sizing: border-box;
}

select::-ms-expand {
    display: none;
}

select {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"%3E%3Cpolygon points="0,0 10,0 5,6" fill="black" /%3E%3C/svg%3E') no-repeat right 10px center;
    background-size: 10px 6px;
}

select option:disabled {
    color: #aaa;
    font-style: italic;
}

select option {
    color: black;
}

select:invalid {
    color: #aaa;
}

select:focus {
    outline: none;
    border-color: #000;
}

textarea {
    resize: none;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 12px;
    transition: background-color 0.3s, color 0.3s;
    width: auto;
    margin: 0 auto;
    /* text-transform: uppercase; */
    text-align: center;
    line-height: normal;
}

.button:hover {
    background-color: #a7fc00;
    color: #000;
}


form > *:last-child {
    margin-bottom: 0;
}
